HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.DS_Store
/target/
/kn-app-deploy.bak.yaml
/kn-app-deploy.yaml
/0a_gcp_auth.sh
/0b_gcp_appdefault.sh
/1a_devrun.sh
/2a_devimg_build.sh
/2b_devimg_run.sh
/2c_devimg_push.sh
/3a_crun_deploy.sh
/3b_crun_delete.sh
/3c_crun_status.sh
/4a_oshift_login.sh
/4b_oc_kn_deploy.sh
/5_imgbuildpack.sh
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/pom.xml
/Readme.md
/settings.gradle
/whereami_aws.sh
/whereami_kind.txt
